{{#partial "content"}}
    <h1>Display Vehicles</h1>
    {{#each vehicle}}
        <div>
            <form name="selctionform" action="/checkout" method="post">
                {{ model }} {{ type }}
                <button type="submit" class="btn btn-success" name="selection" value={{ id }}>select</button>
            </form>
        </div>
    {{/each}}
    <p><a class="btn btn-default" href="/viewvehicles" role="button">&laquo; Start over</a></p>
{{/partial}}

{{>index.hbs}}

