{{#block "header"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Car Rental System</title>

    <!-- Bootstrap core CSS -->
    <link href="css/main.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/jumbotron.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/jumbotron-grid.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Car Rental System</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                {{#if user}} <!-- is session.user is not null -->

                <div class="navbar-form navbar-right-user">
                    <!--div class="form-group">
                        <input type="search" placeholder="Search vehicles" class="form-control">
                    </div-->
                    <a class="btn btn-default" href="/viewvehicles" role="button">Browse vehicles</a>
                    <a class="btn btn-default" href="/editprofile" role="button">Edit profile</a>
                    <a class="btn btn-success" href="/sign-out" role="button">Sign out</a>
                </div>

                {{else}}

                <form action="/sign-in" method="post" class="navbar-form navbar-right-guest">
                    <div class="form-group">
                        <input name="email" type="text" placeholder="Email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" placeholder="Password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                    <a class="btn btn-default" href="/registration" role="button">Register</a>
                </form>

                {{/if}}
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
{{/block}}
{{#block "content"}}
    <div class="container">
        <h1>Welcome to the Car Rental System</h1>
        <p>We are here to provide the best car rental system on the market, with the best car to pick from.</p>
        <p><a class="btn btn-primary btn-lg" href="/viewvehicles" role="button">View vehicles &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <p>We have a full selection of Compact, Mid-Sized, and SUV vehicle for rental use. Click on View Vehicles to select your vehicle today!</p>
        </div>
        <!--<div class="col-md-4">-->
            <!--<h2>Heading</h2>-->
            <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>-->
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<h2>Heading</h2>-->
            <!--<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>-->
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        <!--</div>-->
    </div>

    <hr>

    <footer>
        <p>&copy; 2015 Company, Inc.</p>
    </footer>
</div> <!-- /container -->
{{/block}}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
