{{#partial "content"}}
    <h2>My Reservation</h2>
    <div id="products" class="row list-group">
        {{#each vehicles}}

            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            {{ type }}</h4>
                        <p class="group inner list-group-item-text">
                            {{ manufacturer }} {{ model }}</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    $21.00 / day</p>
                            </div>
                            <form name="selctionform" action="/checkout" method="post" class="col-xs-12 col-md-6">
                                <button type="submit" class="btn btn-success" name="selection" value={{ id }}>View details</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        {{/each}}
    </div>
    <p><a class="btn btn-default" href="/viewvehicles" role="button">&laquo; Start over</a></p>
{{/partial}}

{{>index.hbs}}