<!--TODO: add "reservation accepted" page including button/link to "proceed to log in" that leads back to the home page (that has the login fields already)-->
{{#partial "content"}}
    <div class="container-fluid">
        <section class="container">
            <div class="container-page">
                {{#if registration_is_new}}
                <div class="col-md-6">
                    <h3 class="dark-grey">Thank you for registering with Car Rental System!</h3>
                    <p>You have been automatically logged in.</p>
                    <a class="btn btn-default" href="/" role="button">Return to home</a>
                </div>
                {{else}}
                <form action="/registration" method="post" class="col-md-6">
                    <h3 class="dark-grey">Registration</h3>

                    <div class="form-group col-lg-6">
                        <label>Email Address</label>
                        <input type="" class="form-control" name="email" value="">
                    </div>

                    <div class="form-group col-lg-6">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" value="">
                    </div>

                    <div class="form-group col-lg-6">
                        <label>Repeat Password</label>
                        <input type="password" name="" class="form-control" id="" value="">
                    </div>

                    <button type="submit" class="btn btn-primary">Register</button>
                </form>

                <div class="col-md-6">
                    <h3 class="dark-grey">Terms and Conditions</h3>
                    <p>
                        By clicking on "Register" you agree to The Company's' Terms and Conditions
                    </p>
                    <p>
                        While rare, prices are subject to change based on exchange rate fluctuations -
                        should such a fluctuation happen, we may request an additional payment. You have the option to request a full refund or to pay the new price. (Paragraph 13.5.8)
                    </p>
                    <p>
                        Should there be an error in the description or pricing of a product, we will provide you with a full refund (Paragraph 13.5.6)
                    </p>
                    <p>
                        Acceptance of an order by us is dependent on our suppliers ability to provide the product. (Paragraph 13.5.6)
                    </p>
                </div>
                {{/if}}
            </div>
        </section>
    </div>
{{/partial}}

{{> index.hbs}}