{{#partial "content"}}
    <h2>Vehicles</h2>
    <ul>
        {{#each vehicles}}
            <li>
                <a href="/vehicles/{{ id }}">{{ manufacturer }}</a> ( {{ model }} Model)
            </li>
        {{/each}}
    </ul>

{{/partial}}

{{> index.hbs}}